.page__anchor {
  text-decoration: none;
}
.page__wrapper {
  background-color: transparent;
  width: 280px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 40px;
  @media screen and (min-width: 768px) {
    width: 374px;
    padding: 60px;
  }
}

.pagе__container {
  display: flex;
}

.load-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--color-bgc-white);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 1000;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  transition: background-color, 3s, ease-out, 1s;
  fill: currentColor;
}

.load-button:hover,
.load-button:focus,
.load-button:active {
  color: var(--color-bgc-white);
  background-color: var(--color-bgc-orange);
  fill: var(--color-bgc-white);
  outline: var(--color-bgc-white);
}

.load-button.next,
.load-button.prev {
  background-color: #f7f7f7;
}

.load-button.current {
  color: var(--color-bgc-white);
  background-color: var(--color-bgc-orange);
}

.icon__container {
  width: 16px;
  height: 16px;
  background-image: url('../images/svg/arrow-left.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.icon__container.next {
  border-radius: 5px;
  background-image: url('../images/svg/arrow-right.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.load-button.next.disabled,
.load-button.prev.disabled {
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.56);
  color: rgba(214, 207, 202, 0.705);
  fill: rgba(214, 207, 202, 0.705);
}
