.modal-list {
  // display: flex;
}
.modal-item {
  // flex-wrap: wrap;
}
.modal-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.socials {
  display: flex;
}
.socials__item {
  margin-right: 10px;
}
.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid tomato;
}
.socials__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
