<div class="library-wrapper">
  <div class="adaptive-container">
    <nav class="header__nav">
      <a class="header__logo" href="./index.html">
        <div class="logo__icon"></div>
        <h1 class="header__logo-text">Filmoteka</h1>
      </a>
      <ul class="nav__list">
        <li class="nav__list-item"><a class="nav__list-link" href="./index.html">Home</a></li>
        <li class="nav__list-item"><a class="nav__list-link--current" href="#">my library</a></li>
      </ul>
    </nav>
    <div class="button__container">
      <button class="button btn-watched">Watched</button>
      <button class="button btn-queue">queue</button>
    </div>
  </div>
</div>