<header class="header">
  <div class="main-page__wrapper">
    <div class="adaptiv-container">
      <nav class="header__nav">
        <a class="header__logo" href="./index.html">
          <svg class="header__icon" width="24px" height="24px">
            <use href="./images/sprite.svg#icon-film"></use>
          </svg>
          <h1 class="header__logo-text">Filmoteka</h1>
        </a>
        <ul class="nav__list">
          <li class="nav__list-item"><a class="nav__list-link--current" href="./index.html">Home</a></li>
          <li class="nav__list-item"><a class="nav__list-link" id="libraryBtn" href="#">my library</a></li>
        </ul>
      </nav>
      <div class="search-form" id="search-form">
        <input class="search-form__input" name="searchQuery" type="text" placeholder="Поиск фильмов" autofocus>
        <a href="#"><svg class="search-form__icon" width="12px" height="12px">
            <use href="./images/sprite.svg#icon-search"></use>
          </svg></a>
      </div>
    </div>
  </div>
</header>