<a class="page__anchor" href="#top">
  <div class="page__wrapper">
    <button type="button" class="load-button prev">
      <div class="icon__container"></div>
    </button>
    <div class="pagе__container">
      <button type="button" class="load-button first">1</button>
      <button type="button" class="load-button current">...</button>
      <button type="button" class="load-button last"></button>
    </div>
    <button type="button" class="load-button next">
      <div class="icon__container next"></div>
    </button>
  </div>
</a>

