  <div class="page__wrapper">
    <button type="button" class="prev load-button">
      <svg class="icon__container">
        <use href="./images/sprite.svg#arrow-left"></use>
      </svg>
    </button>
    <div class="pagе__container">
      <button type="button" class="first load-button">1</button>
      <button type="button" class="current load-button">...</button>
      <button type="button" class="last load-button"></button>
    </div>
    <button type="button" class="next load-button">
      <svg class="icon__container">
        <use href="./images/sprite.svg#arrow-right"></use>
      </svg>
    </button>
  </div>
