<div class="wrapper__team">
  <h2 class="section__heading">Наша команда</h2>
  <ul class="team">
    <li class="team__item">
      <div class="team__thumb">
        <img src="./images/team/anton.jpg" alt="Anton Petrenko"/>
      </div>
      <div class="team__container">
        <h3 class="team__heading">Anton Petrenko</h3>
        <p class="team__text">Frontend Developer</p>
        <ul class="socials">
          <li class="socials__item">
            <a href="https://github.com/anton41k" class="socials__link">
              <svg class="socials__icon">
                <use href="./images/socials.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="https://www.linkedin.com/in/petrenkoanton" class="socials__link">
              <svg class="socials__icon">
                <use href="./images/socials.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="team__item">
      <div class="team__thumb">
        <img src="./images/team/sabina.jpg" alt="Sabina Abdulalieva">
      </div>
      <div class="team__container">
        <h3 class="team__heading">Sabina Abdulalieva</h3>
        <p class="team__text">Frontend Developer</p>
        <ul class="socials">
          <li class="socials__item">
            <a href="https://github.com/Sabinka1207" class="socials__link">
              <svg class="socials__icon">
              <use href="./images/socials.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="https://www.linkedin.com/in/sabi-abdulalieva-1329a0139" class="socials__link">
              <svg class="socials__icon">
                <use href="./images/socials.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="team__item">
      <div class="team__thumb">
        <img src="./images/team/viki.jpg" alt="Viktoriya Yurchenko">
      </div>
      <div class="team__container">
        <h3 class="team__heading">Viktoriya Yurchenko</h3>
        <p class="team__text">Frontend Developer</p>
        <ul class="socials">
          <li class="socials__item">
            <a href="https://github.com/Vi663" class="socials__link">
              <svg class="socials__icon">
                <use href="./images/socials.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="http://linkedin.com/in/viktoria-yurchenko-6984b520b" class="socials__link">
              <svg class="socials__icon">
                <use href="./images/socials.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="team__item">
      <div class="team__thumb">
        <img src="./images/team/mihail.jpg" alt="Mikhailo Sopriko">
      </div>
      <div class="team__container">
        <h3 class="team__heading">Mikhailo Sopriko</h3>
        <p class="team__text">Frontend Developer</p>
        <ul class="socials">
          <li class="socials__item">
            <a href="https://github.com/identityapproved" class="socials__link">
              <svg class="socials__icon">
                <use href="./images/socials.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="https://www.linkedin.com/in/identityapproved/" class="socials__link">
              <svg class="socials__icon">
                <use href="./images/socials.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="team__item">
      <div class="team__thumb">
        <img src="./images/team/tatiana.jpg" alt="Tetiana Hrytsenko">
      </div>
      <div class="team__container">
        <h3 class="team__heading">Tetiana Hrytsenko</h3>
        <p class="team__text">Frontend Developer</p>
        <ul class="socials">
          <li class="socials__item">
            <a href="https://github.com/twasileva" class="socials__link">
              <svg class="socials__icon">
                <use href="./images/socials.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="https://www.linkedin.com/in/sabi-abdulalieva-1329a0139" class="socials__link">
              <svg class="socials__icon">
                <use href="./images/socials.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>